<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="description" content="Message of the day" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="msapplication-TileColor" content="#07041b" />
  <meta name="theme-color" content="#07041b" />
  <meta property="og:title" content="ltek.me | Message of the day" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Message of the day" />
  <meta property="og:url" content="https://ltek.me/motd" />
  <title>ltek.me | Message of the day</title>
  <script type="application/ld+json">
      {
        "@context": "https://ltek.me/motd",
        "@type": "Site",
        "name": "ltek.me | Message of the day",
        "author": {
          "@type": "Person",
          "name": "Karl Chan"
        },
        "datePublished": "2024-08-30",
        "description": "Message of the day",
        "prepTime": "PT20M"
      }
    </script>
  <link rel="stylesheet" href="/static/styles/bootstrap.min.css" />
  <link rel="stylesheet" href="static/styles/normalize.css" />
  <link rel="stylesheet" href="/static/styles/main.css" />
</head>

<body>
  <div class="center-rapper">
    <div class="banner">
      <h1>
        <img src="/static/images/icon.webp" alt="Profile Icon" />
        Message of the Day <span>:]</span>
      </h1>
      <hr />
      <p style="padding-top: 10px; font-size: 18px;">{{qoute}}</p>
    </div>
  </div>
</body>

</html>