{% extends "layout.html.j2" %}
{% block body_content %}
<div class="center-rapper">
    <div class="banner">
        <h1>
            <img src="{{ url_for('static_content', path='images/icon.webp', _external=config.get('URL_EXTERNAL'), _scheme=config.get('URL_SCHEME')) }}" alt="Icon of Karlcch"
                class="text-icon text-icon-banner">
            Hello World
        </h1>
        <hr width="fit-content">
        <p>There isn't much here yet.</p>
    </div>
</div>
{% endblock body_content %}